<?xml version="1.0"?>
<configuration>
  <!-- ********************************************* Fine UI 相关 Begin ********************************************* -->
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"/>
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      Theme="Neptune" 
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      IconBasePath="~/res/icon" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="default" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/theme" 
  -->
  <FineUI DebugMode="false" Theme="Crisp"/>
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="102400 "/>
    <customErrors mode="Off"/>
    <!-- ******** debug 相关 ******** -->
    <compilation debug="true" targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!-- ********************************************* Fine UI 相关 End ********************************************* -->
  <appSettings>
    <add key="test_cpp3_ip" value="127.0.0.1"/>
    <add key="test_cpp3_port" value="11111"/>
  </appSettings>
  <connectionStrings>
    <add name="mysql" connectionString="server=10.0.0.24;user id=root;password=1;database=test;port=3306;charset=utf8;sslmode=none;Connection Timeout=2"/>
  </connectionStrings>
</configuration>
